        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40vh;
            margin-bottom: 31vh;
        }

        #myButton {
            background-image: url('images/button_unclicked.svg');
            height: 250px;
            width: 350px;
            border: none;
            box-shadow: none;
            background-color: white;
            
        }

        @media (max-width: 480px){
            
            #myButton { 
                background-image: url('images/buttonsmall_unclicked.svg');
                height: 214px;
                width: 300px; 
            }
        }

        #myButton.clicked {
                
            background-image: url('images/button_clicked.svg');
        }

        @media (max-width: 480px){
    
            #myButton.clicked{
        
                background-image: url('images/buttonsmall_clicked.svg');
        
            } 
    
        }
        
        #counter {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial;
            margin-top: 25vh;
            font-size: 150%;
        }

        #navigation{

            background-color: white;
            padding: 1vh;

        }

        #logo{
        
            display: inline-block;
            vertical-align: middle;
            padding: 0.5vh;
        }


        #text_logo {
            
            display: inline-block;
            font-family: Arial, sans-serif;
            font-size: 24px;
            color: #333;
            margin-left: 10px;
            vertical-align: middle;
            text-align: center;
        }

        #issuebutton{
            
            display: inline-block;
            float: right;
            padding: 2vh;
            margin-top: 1vh;
            vertical-align: middle;
            
        }

        .nav_bottom{ 
            
            background-color: #fbfbfb;
            height: 11vh;
            
            
            
        }
        .nav_bottom a{
    
            color: black;
    
        }

        .nav_bottom a:hover{
    
            color: dimgrey;
    
        }


        #social{
            
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4vh;
            
 
        }
        #copyright{
    
            font-size: 12px;
            font-family: sans-serif;
            text-align: center;
            
        }

        .sticky {
                
            position: fixed;
            top: 0;
            width: 100%;
        }
        .tooltip {
                
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
                
            visibility: hidden;
            width: 70px;
            background-color: #fbfbfb;
            color: black;
            font-size: 12px;
            font-family: Arial;
            text-align: center;
            border-radius: 10px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: 100%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 1s;
        }

        .tooltip:hover .tooltiptext {
                
            visibility: visible;
            opacity: 1;
        }
        
        .small_svg_50px{
    
            height: 50px;
            width: 50px;
    
        }

        .small_svg_25px{
            
            height: 25px;
            width: 25px;
    
        }

        .small_svg_80px{
    
            height: 80px;
            width: 80px;
    
        }

        


